@use "@/shared/styles/common" as *;

.listItem {
  @include typography-subtle-medium;
  @include container(0.75, 1);
  border-radius: $border-radius-small;;
  cursor: pointer;

  &:hover {
    background-color: $neutral-100;
  }
}
