@use "@/shared/styles/common" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing(2);
  width: 100%;
  @include container(2);
  max-width: 320px;

  .button {
    width: 100%;
  }
}
