@use "@/shared/styles/common" as *;

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($neutral-900, 0.5);
  display: flex;
  align-items: safe center;
  justify-content: center;
  z-index: 10;
  @include container(8, 4);
}

.options {
  background-color: $neutral-0;
  width: 100%;
  border-radius: $border-radius-medium;
}

.option {
  @include container(1, 2);
  display: flex;
  align-items: center;
  gap: spacing();
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid $neutral-200;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .label {
    @include typography-p-ui-medium;
  }

  .checkmark {
    @extend .icon;
    margin-left: auto;
    color: $success-500;
  }
}
