@use "@/shared/styles/common" as *;

.roomTile {
  border: 2px solid $neutral-300;
  background-color: $neutral-100;
  border-radius: spacing();
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: spacing();
  aspect-ratio: 1 / 1;
  transition: background-color 200ms, border-color 200ms;

  &Icon {
    width: 45%;
    aspect-ratio: 1 / 1;
    color: $neutral-500;
  }

  &Name {
    color: $neutral-600;
    text-align: center;
    @include typography-subtle-medium;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &:hover {
    background-color: $neutral-200;
    border-color: $neutral-400;
  }
}
