@use "@/shared/styles/common" as *;

.wrapper {
  width: 100%;
  @include container(2);
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(2.5);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(2);
}
