@font-face {
  font-family: "GitLabSans";
  font-style: normal;
  src: url("../fonts/GitLabSans.ttf");
}

@font-face {
  font-family: "GitLabSans";
  font-style: italic;
  src: url("../fonts/GitLabSans-Italic.ttf");
}

@font-face {
  font-family: "GitLabMono";
  font-style: normal;
  src: url("../fonts/GitLabMono.ttf");
}

@font-face {
  font-family: "GitLabMono";
  font-style: italic;
  src: url("../fonts/GitLabMono-Italic.ttf");
}
