@use "@/shared/styles/common" as *;

.button {
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  border: none;
  @include typography-body-medium;
  cursor: pointer;

  background-color: var(--button-background);
  border: 2px solid var(--button-border-color);
  color: var(--button-text);
  transition: 200ms;

  &:hover {
    background-color: var(--button-background-hover);
  }

  &:active {
    background-color: var(--button-background-active);
  }

  &-small {
    @include container(0, 1);
    @include typography-body;
  }

  &-medium {
    @include container(0.25, 1.5);
  }

  &-large {
    @include container(0.75, 2);
  }

  &-primary {
    --button-background: #{$primary-500};
    --button-background-hover: #{$primary-600};
    --button-background-active: #{$primary-700};
    --button-text: #{$neutral-50};
    --button-border-color: transparent;
  }

  &-error {
    --button-background: #{$error-500};
    --button-background-hover: #{$error-600};
    --button-background-active: #{$error-700};
    --button-text: #{$neutral-50};
    --button-border-color: transparent;
  }

  &-warning {
    --button-background: #{$warning-500};
    --button-background-hover: #{$warning-600};
    --button-background-active: #{$warning-700};
    --button-text: #{$neutral-50};
    --button-border-color: transparent;
  }

  &-success {
    --button-background: #{$success-500};
    --button-background-hover: #{$success-600};
    --button-background-active: #{$success-700};
    --button-text: #{$neutral-50};
    --button-border-color: transparent;
  }

  &-default {
    --button-background: #{$neutral-200};
    --button-background-hover: #{$neutral-300};
    --button-background-active: #{$neutral-400};
    --button-text: #{$neutral-900};
    --button-border-color: transparent;
  }

  &-outline {
    --button-background: transparent;
    --button-background-hover: #{$neutral-100};
    --button-background-active: #{$neutral-200};
    --button-text: #{$neutral-900};
    --button-border-color: #{$neutral-200};
  }
}
