@use "@/shared/styles/common" as *;

.page {
  @include container(2);
  padding-bottom: spacing(10);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: spacing(3);
  }

  .tools {
    display: flex;
    align-items: center;
    gap: spacing();
    justify-content: flex-end;
  }
}

.filtersActions {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: spacing();

  .filtersAction {
    width: 100%;

    &:not(:nth-child(1)):not(:nth-child(2)) {
      grid-column: span 2;
    }
  }
}
