@use "@/shared/styles/common" as *;

.tag {
  @include typography-small;
  @include container(0.5, 1);
  background-color: var(--tag-background);
  color: var(--tag-text);
  border-radius: $border-radius-small;

  &-default {
    --tag-background: #{$neutral-300};
    --tag-text: #{$neutral-600};
  }

  &-primary {
    --tag-background: #{$primary-300};
    --tag-text: #{$primary-600};
  }

  &-success {
    --tag-background: #{$success-200};
    --tag-text: #{$success-600};
  }

  &-warning {
    --tag-background: #{$warning-200};
    --tag-text: #{$warning-600};
  }

  &-error {
    --tag-background: #{$error-200};
    --tag-text: #{$error-600};
  }
}
